body {
  background-color: whitesmoke;
}
body .container {
  margin: 0 auto;
  width: 1100px;
}
body .container h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
}
body .container .joke-holder {
  margin: 90px 0;
}
body .container .joke-holder h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .container .joke-holder h3 {
  text-indent: 32px;
}

/*# sourceMappingURL=main.css.map */
